.dashboard {
  .ant-row {
    margin: 0 0 !important;
    .ant-card {
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px #ccc;
      }
    }
  }
  .top {
    .ant-card-body {
      display: flex;
      justify-content: flex-end;
      .ant-result{
        flex: 1;
      }
      .ant-list {
        width: 400px;
        height: 250px;
        cursor: pointer;
        overflow: auto;
      }
    }
  }
  .charts {
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 10px;
  }
}
